
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
  <div class="spacer"></div>
  <div class="search-inp-but">
    <input (keyup)="search($event)" placeholder="Search a Movie or TV Show" class="search-input" />
    <button class="search-button" onclick="searchName(search_input)">
      <i>Search</i>
    </button>
  </div>
</div>

<div class="content" role="main">

  <div class="cards">
    <h2>{{ search_input }}</h2>
    <h1> {{ !show_results ? 'No Results Found': '' }} </h1>
    <h1> {{ !can_req && results.length == 0 ? 'Loading...': '' }} </h1>
    <div class="card-container" *ngFor="let result of results; let i = index">
      <div class="card" target="_blank" rel="noopener" href="#">
        <div>{{ result[0].title }} ({{ result[0].year }})</div>
        <img
          width="150"
          alt="{{ result[0].title }} Logo"
          src="{{ result[0].poster }}"
        />
        <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
        <span>Learn Angular</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
      </div>

      <div class="watch-on">
        <span>Watch Online</span>
        <div class="watch-on-links">
          <a href="{{ watch_on.web_url }}" *ngFor="let watch_on of result[1]; let j = index">
            <!-- <img
              width="40"
              alt="{{ watch_on.ott_name }} Logo"
              src=""
            /> -->
            <b>{{ watch_on.ott_name }}</b>
            <b class="present_type"><i>{{ watch_on.presentation_type }}</i></b>
          </a>
        </div>
        <h3 class="imbd">Imdb: <b>{{ result[0].imdbRating }}</b></h3>
      </div>

    </div>

  </div>

<router-outlet></router-outlet>